#ignore all .csv files - removed


#ignore test.py
test.py

#do track the training data 
!/data gen/vpi_runs/*
!/data gen/const_ch/*

#ignore the results files in the parent dir
#but not in the data gen dir
!x_val.csv
!y_val.csv

/data gen/x_val.csv
/data gen/y_val.csv


!/all_mean_shap.csv
/data gen/done_ch.txt
